<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing_app:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing_app:mailingservice-list' %}">Mailing Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing_app:client-list' %}">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mailing_app:log_list' %}">Messaging service</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:updater' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">registration</a>
                </li>
                {% endif %}
                <!-- Добавьте здесь дополнительные кнопки для других разделов -->
            </ul>
        </div>
    </div>
</nav>
