/* Общие стили для всех страниц */
body {
  background-color: #f8f9fa; /* Светлый серый фон */
}

.card {
  background-color: #f8f9fa; /* Светлый серый фон */
}

.container {
  margin-top: 20px;
}

.rounded-box {
  border-radius: 15px; /* Более округлённые углы */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Тень для выделения блока */
}

/* Общие стили для кнопок */
.btn {
  margin-right: 10px;
}

.btn-outline-custom {
  border-color: #ced4da; /* Светлый серый цвет для границы кнопок */
  color: #495057; /* Тёмный серый текст на кнопках */
}

.btn-outline-custom:hover {
  border-color: #adb5bd; /* Серый цвет при наведении на кнопки */
  color: #495057;
}
