{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mailing Service KR6{% endblock %}</title>
    <!-- Подключение Bootstrap CSS -->
    {% bootstrap_css %}
    <!-- Здесь можно подключить стили и скрипты -->
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
</head>
<body>
<div class="container">
    <header>
        <h2>{% block header %}Mailing Service KR6{% endblock %}</h2>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% include 'mailing_app/includes/inc_menu.html'%}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <!-- Здесь можно добавить подвал -->
        <div class="row">
            <div class="col-12 col-md">
                Messaging service KR 6
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
