{% extends 'mailing_app/base_generic.html' %}

{% block title %}Client Details{% endblock %}

{% block content %}
<div class="jumbotron bg-light text-dark">
    <h3 class="display-4">Client details</h3>
    <p class="lead">Detailed information about the selected client</p>
    <hr class="my-4">
    <h5 class="mb-1 font-weight-normal">Email: {{ object.email }}</h5>
    <p class="mb-1 font-weight-normal">Full Name: {{ object.full_name }}</p>
    <p class="mb-1 font-weight-normal">Comment: {{ object.comment }}</p>
    <hr class="my-4">
    <a class="btn btn-outline-success btn-lg" href="{% url 'client-list' %}" role="button">Back to Client
        Lists</a>

</div>
{% endblock %}
