{% extends 'mailing_app/base_generic.html' %}

{% block title %}Create Mailing List{% endblock %}

{% block content %}
  <div class="container">
    <h2>Create Mailing List</h2>
    
    <form method="post" class="mt-3">
      {% csrf_token %}
      
      <h3>Message Settings</h3>
      {{ message_form.as_p }}
      
      <h3>Mailing List Settings</h3>
      {{ mailing_form.as_p }}
      
      <button type="submit" class="btn btn-primary">Create Mailing List</button>
    </form>
    
    <a href="{% url 'mailinglist-list' %}" class="btn btn-outline-secondary mt-3">Back to Mailing Lists</a>
  </div>
{% endblock %}
