{% extends 'mailing_app/base_generic.html' %}

{% block title %}Mailing List Details{% endblock %}

{% block content %}
<div class="jumbotron bg-light text-dark" style="padding: 10px;">
    <h3 class="display-5">Mailing List Details</h3>
    <p class="lead" style="font-size: 14px;">Details of the selected mailing list.</p>
    <hr class="my-4">
    <h5 class="mb-1 font-weight-normal">Mailing name: {{ object.name_list }}</h5>
    <h5 class="mb-1 font-weight-normal">Sending time: {{ object.send_time|date:"F d, Y" }}</h5>
    <h5 class="mb-1 font-weight-normal">Frequency: {{ object.frequency }}</h5>
    <h5 class="mb-1 font-weight-normal">Letter subject:</h5>
    <ul>
        {% for message in messages %}
            <li>{{ message.subject }}</li>
        {% endfor %}
    </ul>
    <h5>List of clients:</h5>
    <ul>
        {% for client in object.clients.all %}
            <li>{{ client.email }}</li>
        {% endfor %}
    </ul>
    <hr class="my-4">

    <h5 class="mb-1 font-weight-normal">Log settings</h5>
    <p class="mb-1 font-weight-normal">Last attempt time: {{ object.deliverylog_set.last.attempt_time|date:"F d, Y H:i" }}</p>
    <p class="mb-1 font-weight-normal">Status: {{ object.deliverylog_set.last.status }}</p>
    <p class="mb-1 font-weight-normal">Server response: {{ object.deliverylog_set.last.server_response }}</p>

    <a class="btn btn-outline-success btn-sm" href="{% url 'mailinglist-list' %}" role="button">Back to Lists</a>
</div>
{% endblock %}
