{% extends 'mailing_app/base_generic.html' %}

{% block title %}Message Details{% endblock %}

{% block content %}
<div class="jumbotron bg-light text-dark">
    <h3 class="display-4">Message details</h3>
    <p class="lead">Detailed information about the selected Message</p>
    <hr class="my-4">
    <h5 class="mb-1 font-weight-normal">name_letter: {{ message.name_letter }}</h5>
    <p class="mb-1 font-weight-normal">subject: {{ message.subject }}</p>
    <p class="mb-1 font-weight-normal">body: {{ message.body }}</p>
    <hr class="my-4">
    <a class="btn btn-outline-success btn-lg" href="{% url 'client-list' %}" role="button">Back to Message
        Lists</a>

</div>
{% endblock %}
